---
all:
  children:
    clickhouse_servers:
      hosts:
        clickhouse-01:
          ansible_host: "${clickhouse_external_ip}"
          ansible_user: ubuntu
          ansible_python_interpreter: /usr/bin/python3
          internal_ip: "${clickhouse_internal_ip}"
          hostname: clickhouse
          clickhouse_http_port: 8123
          clickhouse_native_port: 9000

    vector_servers:
      hosts:
        vector-01:
          ansible_host: "${vector_external_ip}"
          ansible_user: ubuntu
          ansible_python_interpreter: /usr/bin/python3
          internal_ip: "${vector_internal_ip}"
          hostname: vector
          vector_version: "0.31.0"

    lighthouse_servers:
      hosts:
        lighthouse-01:
          ansible_host: "${lighthouse_external_ip}"
          ansible_user: ubuntu
          ansible_python_interpreter: /usr/bin/python3
          internal_ip: "${lighthouse_internal_ip}"
          hostname: lighthouse
          web_port: 80

    database_servers:
      children:
        clickhouse_servers:

    monitoring_servers:
      children:
        vector_servers:
        lighthouse_servers:

    logging_stack:
      children:
        clickhouse_servers:
        vector_servers:

  vars:
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
